.navbar{
    position:static;
 }
  .navbar-brand .logo {
    width: 60px;
    height: auto;
    position: relative;
    left: 30px
  }
  .navbar-nav .nav-item::after {
    content: "\00a0";
  }
  .navbar-nav .nav-link1,
  .navbar-nav .nav-link2,
  .navbar-nav .nav-link3 {
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    margin: 10px;
    position: relative;
    left: 25px;
  }
  .navbar-nav .nav-link1:hover,
  .navbar-nav .nav-link2:hover,
  .navbar-nav .nav-link3:hover {
    color: orange;
  }
  .navbar-text{
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    position: relative;
    right: 50px;
    margin: 5px;
  }
  .navbar-text:hover{
    color:orange
  }