body {
    zoom: 90%;
    font-family:sans-serif;
    margin: 0;
    padding: 0;
   background-color:black
  }
 .navbar{
    position:static;
 }
  .navbar-brand .logo {
    width: 60px;
    height: auto;
    position: relative;
    left: 30px
  }
  .navbar-nav .nav-item::after {
    content: "\00a0";
  }
  .navbar-nav .nav-link1,
  .navbar-nav .nav-link2,
  .navbar-nav .nav-link3 {
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    margin: 10px;
    position: relative;
    left: 25px;
  }
  .navbar-nav .nav-link1:hover,
  .navbar-nav .nav-link2:hover,
  .navbar-nav .nav-link3:hover {
    color: orange;
  }
  .navbar-text{
    font-weight: bold;
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    position: relative;
    right: 50px;
    margin: 5px;
  }
  .navbar-text:hover{
    color:orange
  }
  .carousel-item {
    display: block;
    position: relative;
    padding: 20px 0px;
  }
  .backgroundPicture{
    position: relative;
    left: 600px;
  }
  .Music_platform {
    position: absolute;
    top: 40%;
    text-align: center;
    color: rgb(255,118,41);
    left: 150px;
    font-family: "Gill Sans", sans-serif;
  }
  
  .SB {
    position: absolute;
    top: 50%;
    text-align: center;
    color: rgb(255,118,41) ;
    left: 150px;
    font-family: "Gill Sans", sans-serif;
  }


  .gif{
    position: relative;
    left: 600px;
    width: 1300px;
  }
  .Music_platform1 {
    position: absolute;
    top: 45%;
    text-align: center;
    color: rgb(255,118,41);
    left: 150px;
    font-family: "Gill Sans", sans-serif;
  }
  
  .SB2 {
    position: absolute;
    top: 55%;
    text-align: center;
    color: rgb(255,118,41) ;
    left: 150px;
    font-family: "Gill Sans", sans-serif;
  }

  .main {
    background-color: rgb(9,9,10);
    padding: 20px 0;
  }
.col-md-4{
    width: 500px;
}
.card1{
    position:relative; 
    left: 100px;
}
.alboms_name{
    font-family: "Gill Sans", sans-serif;
    color: rgb(255,118,41) ;
    font-weight:bolderr;
}
.alboms_script{
    font-family: "Gill Sans", sans-serif;
    color: rgb(255,118,41) ;
    font-weight:bolderr;
}
.first{
    position: relative;
    left: 80px;
    color: rgb(255,118,41) ;
}
.second{
    position: relative;
    left: 120px;
    color: rgb(255,118,41) ;
}
.third{
    position: relative;
    left: 160px;
    color: rgb(255,118,41) ;
}